<div class="box box-primary">

  <div class="box-header with-border">
    <h3 class="box-title">
      <b><%= @vehicle.identification %></b>
    </h3>
  </div>

  <div class="box-body">
    
    <div class="row">
      <div class="col-md-4">
        <dt>Color:</dt>
        <dd><%= @vehicle.color %></dd>
      </div>

      <div class="col-md-4">
        <dt>A침o:</dt>
        <dd><%= @vehicle.year %></dd>
      </div>

      <div class="col-md-4">
        <dt>Kilometraje:</dt>
        <dd><%= @vehicle.kilometers %></dd>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-4">
        <dt>Precio de venta:</dt>
        <dd><%= @vehicle.price %></dd>
      </div>

      <div class="col-md-4">
        <dt>Transferencia:</dt>
        <dd><%= @vehicle.transfer_amount %></dd>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-4">
        <dt>Fecha de ingreso:</dt>
        <dd><%= @vehicle.entered_on %></dd>
      </div>

      <div class="col-md-4">
        <dt>Fecha de venta:</dt>
        <dd><%= @vehicle.sold_on %></dd>
      </div>
    </div>

    <br/>

    <div class="row">
      <br />
      <div class="col-md-4">
        <dt>Permuta:</dt>
        <dd><%= @vehicle.is_exchange %></dd>
      </div>

      <div class="col-md-4">
        <dt>Consignaci칩n:</dt>
        <dd><%= @vehicle.is_consignment %></dd>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-md-12">
        <dt>Descripci칩n</dt>
        <dd><%= @vehicle.details %></dd>
      </div>
    </div>
    
    <br/>
    
    <div class="row">
      <div class="col-md-12">
        <dt>Due침o</dt>
        <dd><%= @vehicle.customer %></dd>
      </div>
    </div>
  </div>
</div>

