<div class="box box-primary">

  <div class="box-body box-profile">
    <h3 class="text-center"><%= vehicle.brand_and_model %></h3>
    <h4 class="text-center"><%= vehicle.version %></h4>
    <h4 class="text-center text-muted"><%= vehicle.plate %></h4> 
    <br />
    <h4 class="text-center"><b><%= vehicle.specs %></b></h4>
    <center>
      <%= link_to 'Editar', edit_vehicle_path(vehicle), class: 'btn btn-xs btn-primary' %>
      <%= link_to 'Eliminar', vehicle_path(vehicle), class: 'btn btn-xs btn-danger',
            method: :delete, data: { confirm: '¿Seguro?' } %>
    </center>

    <br />

    <ul class="list-group list-group-unbordered">
      <li class="list-group-item">
        <h2 class="text-center"><b><%= vehicle.price %></b></h2>
      </li>
      <li class="list-group-item">
        <b>Consignación</b>
        <span class="text-muted pull-right"><%= vehicle.is_consignment %></span>
      </li>
    </ul>

    <% if @vehicle.sale %>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center text-muted"> <%= @vehicle.sale_situation_text %> </p>
        </div>
      </div>
    <% else %>

      <div class="row">
        <div class="col-md-12">
          <%= link_to '<b>Presupuestar</b>'.html_safe, new_budget_path(vehicle_id: vehicle.id),
            class: 'btn btn-warning btn-block margin-bottom-5' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to '<b>Publicar</b>'.html_safe, prepare_to_publish_vehicle_path(vehicle), method: :post,
            class: 'btn btn-primary btn-block margin-bottom-5' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <%= link_to '<b>Iniciar Venta</b>'.html_safe, new_sale_path(vehicle_id: vehicle.id),
            class: 'btn btn-success btn-block' %>
        </div>
      </div>

    <% end %>
  </div>
</div>
