<% form_remote = form_remote|| false %>
<% form_format = form_format || '' %>
<%= form_for @vehicle_model, format: (form_format || ''), remote: (form_remote||false)  do |f| %>

  <article class="box box-primary">

    <section class="box-body">


      <div class="row">
        <div class="col-md-8">
            <%= f.label :brand_id %>
            <%= f.text_field :brand_id, id: 'js-brand',
              data: {
                data: Brand.all.map { |b| { id: b.id, text: b.name } },
                behavior: 'searchBrand'
              },
              class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control',
                    placeholder: 'Ingrese el nombre del modelo' %>
        </div>
      </div>

    </section>
  </article>

  <div class="row">
    <div class="col-md-12">
      <fieldset class="form-group">
        <%= f.submit 'Guardar marca', class: 'btn btn-success', data: { 'disable-with' => 'Guardando...' } %>
      </fieldset>
    </div>
  </div>

<% end %>


