<tr id="<%= dom_id(budget) %>">

  <td> <%= link_to budget.budgeted_on, budget_path(budget, format: :pdf), target: :blank %> </td>
  <td class="text-center"> <%= budget.vehicle_description %> </td>
  <td class="text-center"> <%= budget.year %> </td>
  <td>
    <%= link_to 'Editar', edit_budget_path(budget), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Eliminar', budget, method: :delete,
        data: {confirm: '¿Está seguro?'}, class: 'btn btn-xs btn-danger' %>
  </td>

</tr>
