<%= form_for @user, url: update_profile_path do |f| %>
  <fieldset class="form-group">
    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control', readonly: true %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :password %><br>
    <%= f.text_field :password, class: 'form-control', placeholder: 'Ingrese una nueva clave' %>
  </fieldset>
  <fieldset class="form-group">
    <%= f.label :password_confirmation %><br>
    <%= f.text_field :password_confirmation, class: 'form-control', placeholder: 'Vuelva a ingresar la nueva clave' %>
  </fieldset>
  <div class="actions">
    <%= link_to t(:back), root_path, class: 'btn btn-default', data: {'disable-with' => 'Espere...'} %>
    <%= f.submit t(:submit), class: 'btn btn-primary', data: {'disable-with' => 'Espere...'} %>
  </div>
<% end %>
