<div id="<%= dom_id(attachment) %>" class="item text-center">
  <% if /image/ =~ attachment.file.mime_type %>
    <%= image_tag(attachment.file.thumb('700x400#').url, class: 'img-thumbnail') %>
  <% else %>
    <%= image_tag("http://placehold.it/700x400/3c8dbc/ffffff&amp;text=#{attachment.file.name}",
                    class: 'img-thumbnail') %>
  <% end %>
  <div class="carousel-actions">
    <%= link_to icon('external-link'), attachment.file.url, class: 'btn btn-sm btn-primary',
           target: :blank %>
    <%= link_to icon('trash'), attachment, method: :delete, class: 'btn btn-sm btn-danger',
      data: { confirm: '¿Seguro?', 'disable-with' => 'eliminando' }, remote: true  %>
  </div>

</div>

