<%= form_for @presenter.filter, url: :vehicles, method: :get do |f| %>

  <%= f.hidden_field :is_owner %>

  <div class="row">
    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :brand %>
        <%= f.search_field :brand, class: 'form-control',
              placeholder: 'Ingrese la marca a buscar',
              autofocus: true
        %>
      </fieldset>
    </div>

    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :vehicle_model %>
        <%= f.search_field :vehicle_model, class: 'form-control',
              placeholder: 'Ingrese el modelo a buscar',
              autofocus: true
        %>
      </fieldset>
    </div>

    <div class="col-md-3">
      <fieldset class="form-group">
        <%= f.label :name %>
        <%= f.search_field :name, class: 'form-control',
              placeholder: 'Ingrese nombre o apellido',
              autofocus: true
        %>
      </fieldset>
    </div>

    <div class="col-md-3">
      <fieldset class="form-group">
        <div class="fake-label"></div>
          <%= f.submit 'Filtrar', class: 'btn btn-primary',
                'data-disable-with' => 'Filtrando...' %>
          <%= link_to 'Limpiar', [:vehicles], class: 'btn btn-default',
                'data-disable-with' => 'Espere...' %>
      </fieldset>
    </div>

  </div>

<% end %>
