<header class="content-header">
  <%= link_to new_vehicle_path, class: 'btn btn-primary pull-right' do %>
    <%= icon :plus %>
    Vehiculo para la venta
  <% end %>
  <%= link_to new_vehicle_path(vehicle: {is_owner: true}),
        class: 'btn btn-primary pull-right', style: 'margin-right: 10px;' do %>
    <%= icon :plus %>
    Vehiculo propio
  <% end %>
  <h1> <%= @presenter.title %> </h1>
</header>

<section class="content">

  <article class="box box-primary">
    <section class="box-body">

      <%= render 'filter' %>

      <table class="table table-custom table-hover">
        <thead>
          <tr>
            <th class="pull-left">Vehículo</th>
            <th>Patente</th>
            <th>Color</th>
            <th>Año</th>
            <th>Kilómetros</th>
            <th>Precio público</th>

            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @presenter.vehicles %>
        </tbody>
      </table>

      <%= paginate @presenter.vehicles %>

      <%= content_tag :p, 'No se encontraron vehículos', class: 'text-center' unless @presenter.vehicles.any? %>

    </section>
  </article>

</section>
