<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">

      <% if logged_in? %>

        <li class="header"> VEHÍCULOS EN VENTA </li>
        <%= side_link text: 'Todos los vehículos', path: vehicles_path %>
        <%= side_link text: 'Sólo mis vehículos',
              path: vehicles_path(vehicle_filter: {is_owner: true}) %>

        <li class="header"> COMPRADORES </li>
        <%= side_link text: 'Nuevo Comprador', path: new_buyer_path %>
        
        <li>
          <%= link_to coincidences_path do %>
            <i class="fa fa-fw"></i>
            <span> Coincidencias  </span>
            <span id="js-coincidences" class="badge bg-yellow"></span>
          <% end %>
        </li>
        
        <%= side_link text: 'Listado de Compradores', path: buyers_path %>

        <li class="header"> GASTOS </li>
        <%= side_link text: 'Nuevo Gasto', path: new_expense_path %>
        <%= side_link text: 'Listado de Gastos', path: expenses_path %>

        <li class="header"> VENTAS </li>
        <%= side_link text: 'Listado de ventas', path: sales_path %>
        <%= side_link text: 'Presupuestos', path: budgets_path %>

        <li class="header"> CLIENTES </li>
        <%= side_link text: 'Nuevo Cliente', path: new_customer_path %>
        <%= side_link text: 'Listado de Clientes', path: customers_path %>

      <% end %>

    </ul>

  </section>
</aside>
