<aside class="main-sidebar">
  <section class="sidebar">

    <ul class="sidebar-menu">

      <%= side_link text: 'Inicio', path: root_path, icon_class: 'home' %>

      <% if logged_in? %>

        <li class="header"> VEHÍCULOS EN VENTA </li>
        <%= side_link text: 'Todos los vehículos', path: vehicles_path %>
        <%= side_link text: 'Solo mis vehículos',
              path: vehicles_path(vehicle_filter: {is_owner: true}) %>

        <li class="header"> CLIENTES </li>
        <%= side_link text: 'Nuevo Cliente', path: new_customer_path %>
        <%= side_link text: 'Listado de Clientes', path: customers_path %>

        <li class="header"> INTERESADOS EN COMPRAR </li>
        <%= side_link text: 'Nuevo Interesado', path: '#' %>
        <%= side_link text: 'Listado de Interesados', path: '#' %>

        <li class="header"> VENTAS / GASTOS </li>
        <%= side_link text: 'Nuevo Gasto', path: '#' %>
        <%= side_link text: 'Listado de Ventas', path: '#' %>
        <%= side_link text: 'Listado de Movimientos', path: '#' %>

      <% end %>

    </ul>

  </section>
</aside>
