<tr id="<%= dom_id(sale) %>" data-sale-id="<%= sale.id %>">

  <td>
    <%= link_to sale.vehicle.decorate.identification, sale %>
   </td>
  <td> <%= sale.sold_on %> </td>
  <td class="text-center">
    <%= sale.vehicle_cost %>
  </td>
  <td class="text-center"> <%= sale.price %> </td>
  <td class="text-center"> <%= sale.cash %> </td>
  <td class="text-center"> <%= sale.expenses %> </td>
  <td class="text-right"> <%= sale.difference %> </td>
  <td>
    <%= link_to fa_icon(:pencil), edit_sale_path(sale), class: 'btn btn-xs btn-primary' %>
    <%= link_to fa_icon(:trash), sale, method: :delete,
        data: {confirm: '¿Está seguro?'}, class: 'btn btn-xs btn-danger' %>
    <%= sale.customer_btn %>
  </td>

</tr>
