<tr id="<%= dom_id(sale) %>">

  <td> <%= link_to sale.vehicle.decorate.identification, sale %> </td>
  <td> <%= sale.sold_on %> </td>
  <td class="text-center"> <%= sale.vehicle_cost %> </td>
  <td class="text-center"> <%= sale.price %> </td>
  <td class="text-center"> <%= sale.cash %> </td>
  <td class="text-center"> <%= sale.difference %> </td>
  <td>
    <%= link_to 'Editar', edit_sale_path(sale), class: 'btn btn-xs btn-primary' %>
    <%= link_to 'Eliminar', sale, method: :delete,
        data: {confirm: '¿Está seguro?'}, class: 'btn btn-xs btn-danger' %>
  </td>

</tr>
