<tfoot id="js-sales-totals-row">
  <tr style="background: #f0f0f0;">
    <td> <b> <%= presenter.sales.count %> vehículos </b> </td>
    <td></td>
    <td class="text-center"><b><%= presenter.total_cost %></b></td>
    <td class="text-center"><b><%= presenter.total_price %></b></td>
    <td class="text-center"><b><%= presenter.total_cash %></b></td>
    <td class="text-center"><b><%= presenter.total_transfer_difference %></td>
    <td class="text-center"><b><%= presenter.total_sales_expenses %></td>
    <td class="text-right"><b><%= presenter.total_difference %></b></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="6"> </td>
    <td class="text-right"> <b> Gastos Totales: </b> </td>
    <td class="text-right"><b><%= number_to_currency presenter.total_expenses %></b></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="6"> </td>
    <td class="text-right"> <b> Ganancia Total: </b> </td>
    <td class="text-right"><b><%= number_to_currency presenter.total_profit %></b></td>
    <td></td>
  </tr>
</tfoot>

