<header class="content-header">
  <h1>Ventas</h1>
</header>

<section class="content">

  <article class="box box-primary">
    <section class="box-body">

      <%= render 'filter' %>

      <table class="table table-custom table-hover">
        <thead>
          <tr>
            <th class="pull-left">Vehículo</th>
            <th>Fecha Venta</th>
            <th>Costo real</th>
            <th>Precio de venta</th>
            <th>En Efectivo</th>
            <th>Gastos</th>
            <th>Ganancia</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <%= render @presenter.sales %>
        </tbody>

        <%= render partial: 'totals', locals: { presenter: @presenter } %>

      </table>

      <%= paginate @presenter.sales %>

      <%= content_tag :p, 'No se encontraron ventas', class: 'text-center' unless @presenter.sales.any? %>

    </section>
  </article>

</section>
